@layer utilities {
    /* Estilos del scrollbar para modo claro (predeterminado) */
    ::-webkit-scrollbar {
        width: 5px;
        padding-right: inherit;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #c1c1c1;
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #a1a1a1;
    }

    /* Estilos del scrollbar para modo oscuro */
    .dark ::-webkit-scrollbar-track {
        background: #2e3854;
    }

    .dark ::-webkit-scrollbar-thumb {
        background: #4c6a98;
        border-radius: 5px;
    }

    .dark ::-webkit-scrollbar-thumb:hover {
        background: #5876c6;
    }
}
